[Unit]
Description = Openinfoman daemon
After network.target = auditd.service

[Service]
Type =simple
ExecStart = /var/lib/openinfoman/bin/openinfoman
ExecStop = /var/lib/openinfoman/bin/basexhttp stop
ExecReload = /var/lib/openinfoman/bin/basexhttp restart

[Install]
WantedBy = multi-user.target
